{
  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "never",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
