<mat-sidenav-container>
  <mat-sidenav #sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <mat-table matSpreadsheet mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container #inactive> {{ element.position }}</ng-container>
          <ng-template #active>
            <mat-select (selectionChange)="foo($event)">
              <mat-option *ngFor="let item of list; index as i" [value]="i"
                >{{ item.name }}-{{ i }}
              </mat-option>
            </mat-select>
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container #inactive>{{ element.name }} </ng-container>
          <ng-template #active>
            <input type="text" [value]="element.name" matInput />
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check">
        <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container #inactive>{{ element.check }} </ng-container>
          <ng-template #active>
            <mat-select>
              <mat-option *ngFor="let item of list; index as i" [value]="i"
                >{{ item.name }}-{{ i }}
              </mat-option>
            </mat-select>
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check1">
        <mat-header-cell *matHeaderCellDef> Check1 </mat-header-cell>
        <mat-cell *matCellDef="let element"> 1 </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check2">
        <mat-header-cell *matHeaderCellDef> Check2 </mat-header-cell>
        <mat-cell *matCellDef="let element"> 2 </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check3">
        <mat-header-cell *matHeaderCellDef> Check3 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container #inactive> 3 </ng-container>
          <ng-template #active>
            <mat-select>
              <mat-option *ngFor="let item of list; index as i" [value]="i"
                >{{ item.name }}-{{ i }}
              </mat-option>
            </mat-select>
          </ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row
        mat-header-row
        *matHeaderRowDef="columns"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>
