<mat-sidenav-container>
  <mat-sidenav #sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <mat-table
      mat-table
      matSpreadsheet
      [dataSource]="dataSource"
      [trackBy]="trackBy"
    >
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let element" #matCell="matCell">
          <mat-spreadsheet-select
            [connectCell]="matCell"
            [options]="list"
            [optionRender]="'position'"
            [optionDefault]="element.position"
            (selectionChange)="onChange($event.value, element, 'position')"
          ></mat-spreadsheet-select>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" #matCell="matCell">
          <mat-spreadsheet-combobox
            [connectCell]="matCell"
            [list]="list"
            [listOptionRenderKey]="'name'"
            [placeholder]="element.name"
            (selectionAdded)="onAdd($event, element, 'name')"
            (selectionChange)="onChange($event.option.value, element, 'name')"
          ></mat-spreadsheet-combobox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element" #matCell="matCell">
          <mat-spreadsheet-datepicker
            [connectCell]="matCell"
            [date]="element.date"
            [format]="'d.MM.yyyy'"
            [locale]="'de-DE'"
            (dateChange)="onDateChange($event.value)"
          ></mat-spreadsheet-datepicker>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef> Street </mat-header-cell>
        <mat-cell *matCellDef="let element" #matCell="matCell">
          <mat-spreadsheet-input
            [connectCell]="matCell"
            [value]="element.street"
            (inputChange)="onChange($event, element, 'street')"
          ></mat-spreadsheet-input>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check2">
        <mat-header-cell *matHeaderCellDef> Check2 </mat-header-cell>
        <mat-cell *matCellDef="let element"> 2 </mat-cell>
      </ng-container>
      <ng-container matColumnDef="check3">
        <mat-header-cell *matHeaderCellDef> Check3 </mat-header-cell>
        <mat-cell *matCellDef="let element"> 3 </mat-cell>
      </ng-container>
      <mat-header-row
        mat-header-row
        *matHeaderRowDef="columns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>
